
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
  --background-color: #227093;
  --font-family: 'Ubuntu', sans-serif;
  --font-color: #FFFFFF;
  --section-font-size: 40px;
}
* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  background-color: var(--background-color);
}

.header {
  height: 800px;
  width: 100%;
  margin: 0;
  padding: 0px;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 10vh;
}
.nav-links  {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
  width: 50%;
  height: 100%;
  margin-left: auto;
  align-items: center;
  font-family: var(--font-family);
  color: var(--font-color);

}


.nav-link{

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}
.intro{
  margin-bottom: 2rem;
  text-align: center;
  font-family: var(--font-family);
  font-size: 3.5rem;
  color: white;
}
.view-work-button{
margin-left: 650px;
display: block;
font: inherit;
border: none;
cursor: pointer;
border: 2px solid #000;
background-color: rgb(125, 160, 211);
padding: 1rem 1.5rem;
font-size: 1.25rem;
font-family: var(--font-family);
font-weight: 500;
border-radius: .25rem;
box-shadow: 
		4px 4px 0 0 #000;
	transition: .15s ease;
}
.view-work-button:hover, .view-work-button:focus{
  outline: 0;
		transform: translate(4px, 4px);
	box-shadow: 
		0 0 0 0 #000;
		background-color: #f2f5f7;
}

.section-header{
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--section-font-size);
  color: var(--font-color);
  margin-top: 4rem;
}

.image {
  display: flex;
  justify-content: space-evenly;
  margin-top: 7rem;
}

.profile-pic {
  width: 20%;
  height: 20%;
  border-style: solid;
  border-radius: 500px;
}

.about-text {
  text-align: center;
 font-family: var(--font-family);
 font-size: 30px;
 line-height: 1.6;
 margin: 2rem 9rem 2.2em 9rem;
 color:#FFF;
}



.project-image {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 2%;
}

.project-nav {
  display: flex;
  justify-content: center;
}

.project-nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  list-style: none;
  width: 90%;
  height: 100%;
  align-items: center;
  font-family: var(--font-family);
  color: var(--font-color);
  cursor: pointer;
}

[data-tab-content]{
  display: none;
}

.active[data-tab-content]{
 display: grid;
 grid-template-columns:repeat(2, 400px);
  gap: 1.5rem;
  justify-content: center;
  margin: 3rem 0rem 5rem 0rem;
  

}


.contact-page {
  margin-top: 100px;
}

.contact-info {
  text-align: center;
 font-family: var(--font-family);
 font-size: 20px;
 line-height: 1.6;
 margin: 4rem 9rem 2.2em 9rem;
 color:#FFF;
}

.sm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7rem 0rem 3rem 0rem;
}

.sm-link {
margin: 0 20px;
width: 7rem;
height: 5.5rem;
background: #fff;
display: inline-block;
border-radius: 100px;
box-shadow: 6px 12px 12px rgba(0, 0, 0, .15),
              -6px -6px 12px rgba(255,255,255,.1);
overflow: hidden;
font-size: 40px;
transition: .1s linear;
position: relative;
}
.sm-link:hover {
  transform: scale(1.5);
  border-radius: 75%;
}

.sm-link i::before{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: 200%, 200%;
  background-position: 75% 75%;
  top: 0;
  left: 0;
  line-height: 80px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background .5s linear;
}

.sm-link:hover i::before{
  background-position: 0%, 0%;
}

.fa-facebook-f::before{
  background-image: linear-gradient(135deg, #3b5998 30%, #000 50%)
}
.fa-github::before{
  background-image: linear-gradient(135deg, #fff 30%, #000 50%)
}
.fa-codepen::before{
  background-image: linear-gradient(135deg, #fff 30%, #000 50%)
}
.fa-instagram::before{
  background-image: linear-gradient(135deg, #c32aa3 30%, #000 50%)
}
.fa-linkedin-in::before{
  background-image: linear-gradient(135deg, #007bb5 30%, #000 50%)
}
  