html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: linear-gradient(
      22.5deg,
      rgb(140, 15, 105) 0%,
      rgb(140, 15, 105) 1%,
      rgb(133, 14, 103) 1%,
      rgb(133, 14, 103) 23%,
      rgb(125, 12, 102) 23%,
      rgb(125, 12, 102) 39%,
      rgb(118, 11, 100) 39%,
      rgb(118, 11, 100) 45%,
      rgb(110, 9, 98) 45%,
      rgb(110, 9, 98) 47%,
      rgb(103, 8, 96) 47%,
      rgb(103, 8, 96) 52%,
      rgb(95, 6, 95) 52%,
      rgb(95, 6, 95) 70%,
      rgb(88, 5, 93) 70%,
      rgb(88, 5, 93) 100%
    ),
    linear-gradient(
      67.5deg,
      rgb(140, 15, 105) 0%,
      rgb(140, 15, 105) 1%,
      rgb(133, 14, 103) 1%,
      rgb(133, 14, 103) 23%,
      rgb(125, 12, 102) 23%,
      rgb(125, 12, 102) 39%,
      rgb(118, 11, 100) 39%,
      rgb(118, 11, 100) 45%,
      rgb(110, 9, 98) 45%,
      rgb(110, 9, 98) 47%,
      rgb(103, 8, 96) 47%,
      rgb(103, 8, 96) 52%,
      rgb(95, 6, 95) 52%,
      rgb(95, 6, 95) 70%,
      rgb(88, 5, 93) 70%,
      rgb(88, 5, 93) 100%
    ),
    linear-gradient(
      157.5deg,
      rgb(140, 15, 105) 0%,
      rgb(140, 15, 105) 1%,
      rgb(133, 14, 103) 1%,
      rgb(133, 14, 103) 23%,
      rgb(125, 12, 102) 23%,
      rgb(125, 12, 102) 39%,
      rgb(118, 11, 100) 39%,
      rgb(118, 11, 100) 45%,
      rgb(110, 9, 98) 45%,
      rgb(110, 9, 98) 47%,
      rgb(103, 8, 96) 47%,
      rgb(103, 8, 96) 52%,
      rgb(95, 6, 95) 52%,
      rgb(95, 6, 95) 70%,
      rgb(88, 5, 93) 70%,
      rgb(88, 5, 93) 100%
    ),
    linear-gradient(90deg, rgb(184, 43, 117), rgb(202, 2, 218));
  background-blend-mode: overlay, overlay, overlay, normal;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
